@model ChatGPT.Entities.ViewModels.DocumentsViewModel

<div class="mt-5">

    @{
        ViewBag.Title = "Upload your documents";
    }


    @using (Html.BeginForm("Documents", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <label for="fileInput">Select Files:</label>
            <input type="file" asp-for="Files" id="fileInput" multiple /><br/>
            <small class="text-danger">* Only PDF, JPEG, PNG files allowed,<br />* Maximum file size 10MB</small>
        </div>
        <button class="border-1" type="submit">Upload</button>

        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
    }
</div>
