@model ChatGPT.Entities.ViewModels.ChatGptViewModel
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<partial name="_TopNavbar" />
<div class="container" id="history_container">
    @{
        if (@Model is not null)
        {
            <partial name="_UserHistory"/>
        }
    }
</div>

<script src="~/js/History.js"></script>
